%tr
  %th{class: sort_css_class(:title, params[:sort])}= task_sort_link(:title, params, class: 'sort-link')
  %th{class: sort_css_class(:due_at, params[:sort])}= task_sort_link(:due_at, params, class: 'sort-link')
  %th{class: sort_css_class(:priority, params[:sort])}= task_sort_link(:priority, params, class: 'sort-link')
  %th #