.row
  .span8
    #form.form-actions
      = render partial: 'tasks/form'

.row
  .span8
    %table.table.table-condensed.table-hover#todo-table
      = render partial: 'tasks/task_table', locals: { tasks: @tasks }

.row
  .span8
    .form-actions
      = link_to 'Clear Order', root_path(sort:''), remote: true, class: 'sort-link btn btn-mini'
      = link_to((session[:hide].zero? ? 'Hide completed' : 'Show all'), toggle_visibility_tasks_path(hide: session[:hide].zero? ? 1 : 0), class: 'btn btn-mini sort-link', id: 'link-toggle-completed')
